<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Password</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">
<div th:include="navbar/navbar.html::navbar"></div>
<div class="container">
    <h2 class="text-center">Generate encrypted password</h2><br/>
    <div class="col-md-6 order-md-1 mb-4 offset-md-3">
        <form action="#" class="form-horizontal needs-validation"
              th:action="@{/password}" method="post"
              novalidate>
            <div class="mb-2">
                <label for="password">Enter your thingspeak raw app password:</label>
                <input type="password" th:value="${password}" class="form-control" id="password"
                       name="password" placeholder="password" value="" required>
            </div>
            <div class="mb-2">
                <label for="passwordConfirm">Create the app password:</label>
                <input type="password" th:value="${appPassword}" class="form-control"
                       id="passwordConfirm" name="appPassword" placeholder="password" value="" required>
            </div>
            <div class="text-center mb-2">
                <input type="submit" id="submitButton" class="btn btn-success" value="Generate"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>